table.matrix tr:first-child td, 
table.matrix td:first-child {
text-align: center;
vertical-align: middle !important;
font-weight: bold;
background-color: #563d7c;
color: #fff;
padding: 3px !important;
}

td {
text-align: center;
padding: 5px;
}

table.table-input td{
padding: 0 !important;
}

table.table-input td input{
border-radius: 0 !important;
}

td.range {
background-color: #357ebd;
color: #fff;
font-weight: bold;
}

td .form-control {
text-align: center;
padding: 3px;
height: auto;
min-width: 50px;
}

.navbar-brand {
max-width: none;
}

.table {
margin-bottom: 0;
}

.tab-content {
overflow: auto;
max-height: 450px;
}

.tab-content-alt {
overflow: hidden;
margin-bottom: 20px;
padding: 15px;
padding-bottom: 0;
border-bottom: 1px solid #ddd;
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
}

.panel {
padding-bottom: 5px;
}

ul.debug {
list-style: none;
padding: 0;
}

ul.debug li {
margin: 0;
padding: 10px;
border-bottom: 1px solid #ddd;
}

.input-group {
margin-bottom: 15px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
border-top-color: #563d7c;
border-top-width: 2px;
}

/* Top nav and header
-------------------------------------------------- */

.bs-docs-nav {
background-color: #563d7c;
border-radius: 0;
}
.bs-docs-nav p {
color: #cdbfe3;
}
.bs-docs-nav a {
color: #ed9c28;
}
.bs-docs-nav a:hover {
color: #fff;
}
.bs-docs-nav .navbar-brand {
color: #fff;
}
.bs-docs-nav .navbar-nav > li > a {
color: #cdbfe3;
}
.bs-docs-nav .navbar-nav > li > a:hover {
color: #fff;
}
.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
color: #fff;
background-color: #463265;
}
.bs-docs-nav .navbar-toggle {
border-color: #563d7c;
}
.bs-docs-nav .navbar-toggle:hover {
background-color: #463265;
border-color: #463265;
}

/* Old docs callout */
.bs-old-docs {
padding: 15px 20px;
color: #777;
background-color: #fafafa;
border-bottom: 1px solid #e5e5e5;
}
.bs-old-docs strong {
color: #555;
}
.bs-docs-home .bs-old-docs {
padding-top: 0;
padding-bottom: 0;
text-align: center;
color: inherit;
background-color: transparent;
border-color: transparent;
}
.bs-docs-home .bs-old-docs a {
color: #fff;
}

i.icon-social {
display: inline-block;
width: 20px;
height: 20px;
margin-top: -2px;
margin-left: 3px;
vertical-align: text-top;
background-repeat: no-repeat;
}

i.icon-facebook {
background-image: url("../img/facebook.png");
}

i.icon-twitter {
background-image: url("../img/twitter.png");
}

i.icon-github {
background-image: url("../img/github.png");
}